mixin stylesheet(url)
  link(href=url, rel='stylesheet', type='text/css')

block vars
  - var title='Welcome'

doctype 5
html
  head
    meta(charset='utf-8')
    title Juju Documentation - #{title}
    mixin stylesheet('//fonts.googleapis.com/css?family=Ubuntu:400,400italic')
    mixin stylesheet('//fonts.googleapis.com/css?family=Ubuntu+Mono:400')
    mixin stylesheet('https://juju.ubuntu.com/wp-content/themes/juju-website/css/reset.css')
    mixin stylesheet('https://juju.ubuntu.com/wp-content/themes/juju-website/css/960.css')
    mixin stylesheet('https://juju.ubuntu.com/wp-content/themes/juju-website/css/base.css')
    mixin stylesheet('https://juju.ubuntu.com/wp-content/themes/juju-website/css/resources.css')
    mixin stylesheet('css/main.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="http://app.stacktack.com/jquery.stacktack.min.js")
    script(type='text/javascript')
      $(document).ready(function() {
            $(document).stacktack();
      });
    block styles
    //if lt IE 9
      script(type='text/javascript', src='//html5shim.googlecode.com/svn/trunk/html5.js')
  body.resources
    header
      .header-login
        ul
          li.
            &nbsp;
      .header-navigation
        div
          nav(role="navigation")
            ul
              li.page_item: a(href="https://juju.ubuntu.com/") Home
              li.page_item.current_page_item: a(href="https://juju.ubuntu.com/") Resources
              li.page_item: a(href="https://juju.ubuntu.com/") Community
              li.page_item: a(href="https://juju.ubuntu.com/") Charm Store
              li.page_item: a(href="https://juju.ubuntu.com/") Events
              li.page_item: a(href="https://juju.ubuntu.com/") Survey
              li
                form#form-search(method='get', action='/')
                  fieldset
                    input#input-search(type='text', name='s', value='Search')
          a.logo-ubuntu(href='https://juju.ubuntu.com/')
            img(src='https://juju.ubuntu.com/wp-content/themes/juju-website/img/logo-ubuntu.png')
      .header-content
        .clearfix
          img.arrow-nav(src='https://juju.ubuntu.com/wp-content/themes/juju-website/img/arrow-nav.png', width='9', height='5', style='left:894px; display: block;')
          .header-navigation-secondary
          .header-image
          h1 Resources
          h2 A collection of some of the most important online references for Juju users and developers.
    section#content.container-12
      .grid-12.doc-container
        .grid-3.doc-navigation
          nav(role='navigation')
            h1 User Guide
            ul
               li(class="#{page=='getting-started' ? 'selected' : ''}"): a(href='getting-started.html') Getting Started
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='getting-started.html#intro') Introduction
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='getting-started.html#install') Installation
               li(class="#{page=='config-aws' ? 'selected' : ''}").sub: a(href='config-aws.html') AWS Configuration
               li(class="#{page=='hp-cfg' ? 'selected' : ''}").sub: a(href='config-hpcloud.html') HP Cloud Configuration
               li(class="#{page=='rax-cfg' ? 'selected' : ''}").sub: a(href='') OpenStack Configuration
               li(class="#{page=='config-maas' ? 'selected' : ''}").sub: a(href='config-maas.html') MAAS Configuration
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='getting-started.html#test') Testing your setup
               li(class="#{page=='charms' ? 'selected' : ''}"): a(href='charms.html') Using Charms
               li(class="#{page=='what' ? 'selected' : ''}").sub: a(href='charms.html#intro') What are Charms?
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-deploying.html') Deploying Services
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-constraints.html') Using constraints
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-config.html') Service Configuration
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-relations.html') Service Relationships
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-exposing.html') Exposing Services
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-scaling.html') Scaling Services
               li(class="#{page=='' ? 'selected' : ''}").sub: a(href='charms-destroy.html') Destroying Services


            h1 Charm Authors
            ul

            li(class="#{page=='charms' ? 'selected' : ''}"): a(href='authors-charm-writing.html') Writing a charm
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-subordinate-services.html') Subordinate services
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-implicit-relations.html') Implicit Relations
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-testing.html') Charm Testing
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-hooks.html') Hook debugging
            li(class="#{page=='authors' ? 'selected' : ''}"): a(href='authors-charm-store.html') The Juju Charm Store
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-charm-policy.html') Charm store policy
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-charm-best-practice.html') Best practices
            li(class="#{page=='' ? 'selected' : ''}").sub: a(href='authors-charm-quality.html') Charm Quality Rating


            h1 Reference
            ul
              li.sub: a(href='commands.html') Juju commands
              li.sub: a(href='glossary.html') Glossary
              li.sub: a(href='contributing.html') Contribute to the Docs!

        .grid-9.doc-content
          block content
            h1 you are here.
    .shadow
    footer
      div
        nav.clearfix(role='navigation')
          ul
            li: a(href='https://juju.ubuntu.com/get-started') Get started
            li.page_item: a(href='https://juju.ubuntu.com/get-started/local/') Local
            li.page_item: a(href='https://juju.ubuntu.com/get-started/amazon/') Amazon Web Services
            li.page_item: a(href='https://juju.ubuntu.com/get-started/hp-cloud/') HP Cloud
            li.page_item: a(href='https://juju.ubuntu.com/get-started/rackspace/') Rackspace
            li.page_item: a(href='https://juju.ubuntu.com/get-started/openstack/') Openstack
            li.page_item: a(href='https://juju.ubuntu.com/get-started/maas/') MAAS
          ul
            li: a(href='https://juju.ubuntu.com/resources') Resources
            li: a(href='https://juju.ubuntu.com/docs') Documentation
            li: a(href='https://juju.ubuntu.com/resources/videos') Videos
            li: a(href='http://uistage.jujucharms.com:8080/') Juju GUI Demo
          ul
            li: a(href='https://juju.ubuntu.com/community') Community
            li.page_item: a(href='https://juju.ubuntu.com/community/juju-blog/') Blog
            li.page_item: a(href='https://juju.ubuntu.com/community/weekly-charm-meeting/') Charm Meetings
            li.page_item: a(href='https://juju.ubuntu.com/community/charmers/') Charmers
            li.page_item: a(href='https://lists.ubuntu.com/mailman/listinfo/juju') Mailing List
            li.page_item: a(href='http://webchat.freenode.net/?channels=juju') Chat
            li.page_item: a(href='http://askubuntu.com/questions/tagged/juju?sort=faq&amp;pagesize=50') FAQ
          ul.last
            li: a(href='https://launchpad.net/juju') Code
            li: a(href='https://launchpad.net/juju-core') Juju Core
            li: a(href='https://launchpad.net/charms') Charms
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.14/jquery-ui.min.js')
    script(type='text/javascript', src='js/main.js')
    block scripts
